### Used to combine csv files with nan

In [2]:
import pandas as pd
import numpy as np

In [48]:
def split_csv(csv):
    gpt_csv = pd.read_csv(csv)
    gpt_csv_nan = csv[csv['gpt_output'].isna()]
    return gpt_csv_nan

In [50]:
def split_csv_not_nan(csv):
    gpt_csv = pd.read_csv(csv)
    gpt_csv_not_nan = csv[~pd.isna(csv['gpt_output'])]
    return gpt_csv_nan

In [52]:
def combine_nan_csv(csv1, csv2):
    new_combined_df = pd.concat([csv1, csv2])
    return new_combined_df

In [54]:
def combine_not_nan_csv(csv1, csv2):
    not_nan_combined_df = pd.concat([csv1, csv2])
    return not_nan_combined_df

In [6]:
gpt_1 = pd.read_csv("./data/reddit/gpt_output_15000_19999.csv")
gpt_2 = pd.read_csv("./data/reddit/gpt_output_20000_24999.csv")
gpt_3 = pd.read_csv("./data/reddit/gpt_output_25000_29999.csv")
gpt_4 = pd.read_csv("./data/reddit/gpt_output_30000_34999.csv")

In [16]:
gpt_1_nan = gpt_1[gpt_1['gpt_output'].isna()]
gpt_2_nan = gpt_2[gpt_2['gpt_output'].isna()]
gpt_3_nan = gpt_3[gpt_3['gpt_output'].isna()]
gpt_4_nan = gpt_4[gpt_4['gpt_output'].isna()]

In [38]:
gpt_1_not_nan = gpt_1[~pd.isna(gpt_1['gpt_output'])]
gpt_2_not_nan = gpt_2[~pd.isna(gpt_2['gpt_output'])]
gpt_3_not_nan = gpt_3[~pd.isna(gpt_3['gpt_output'])]
gpt_4_not_nan = gpt_4[~pd.isna(gpt_4['gpt_output'])]

In [40]:
gpt_3_not_nan.head()

,comment_id,submission_id,author,body,score,year,month,subreddit,type,gpt_output
14,iil29kl,wdxz8s,mettahipster,Unconfirmed but KM News is reporting 4-6 peopl...,96,2022,8,2,1,"1, 3"
68,iimnhxb,wdxz8s,2Sideburns2,lol cope,9,2022,8,2,1,0
120,iin405h,wdxz8s,NaN,Paris has a significantly higher overall crime...,14,2022,8,2,1,"1, 4"
167,iioy2g9,wdxz8s,NaN,"Ok but crime is happening now, this year, plen...",0,2022,8,2,1,0
220,ihig2ic,w73ol5,_cuppycakes_,Get a free library card at DCPL and neighborin...,29,2022,7,2,1,0

In [18]:
new_combined_df = pd.concat([gpt_1_nan, gpt_2_nan, gpt_3_nan, gpt_4_nan])

In [22]:
new_combined_df.shape

(13070, 10)

In [26]:
final_combined_df = new_combined_df[['comment_id', 'submission_id', 'author', 'body', 'score', 'year', 'month', 'subreddit', 'type']]

In [28]:
final_combined_df.head()

,comment_id,submission_id,author,body,score,year,month,subreddit,type
1814,lp3lu15,1fpo3o7,Billster25,https://mpdc.dc.gov/publication/application-co...,1,2024,9,2,1
1815,lp6tkhq,1fpo3o7,plausiblyridiculous,I’m sorry this happened to you. There definite...,1,2024,9,2,1
1816,lp7wlje,1fpo3o7,SimpleBeginning5202,I’m not sure if pepper spray is a good idea al...,1,2024,9,2,1
1817,lp8wdmd,1fpo3o7,Livbrielle26,Keep pepper spray somewhere easily accessible....,1,2024,9,2,1
1818,lp1k3p6,1fpo3o7,MargaritaBar,"Girl, I’ve lived in MVT for a month now and I ...",1,2024,9,2,1

In [32]:
final_combined_df.to_csv("./data/reddit/gpt_to_code.csv")

In [42]:
not_nan_combined = pd.concat([gpt_1_not_nan, gpt_2_not_nan, gpt_3_not_nan, gpt_4_not_nan])

In [44]:
not_nan_combined.shape

(2069, 10)

In [46]:
not_nan_combined.to_csv("./data/reddit/gpt_ratelimit_coded.csv")