### Used to combine csv files with nan

In [2]:
##setup
import pandas as pd
import numpy as np

In [64]:
##function to get just nan values from a csv
def split_csv(csv_file):
    gpt_csv = pd.read_csv(csv_file)
    gpt_csv_nan = gpt_csv[gpt_csv['gpt_output'].isna()]
    return gpt_csv_nan

In [72]:
##function to get all non nan values from csv
def split_csv_not_nan(csv):
    gpt_csv = pd.read_csv(csv)
    gpt_csv_not_nan = gpt_csv[~pd.isna(gpt_csv['gpt_output'])]
    return gpt_csv_not_nan

In [86]:
##combine two dataframes that have just nan in the gpt_output column and return a dataframe without gpt_output
def combine_nan_csv(df1, df2):
    new_combined_df = pd.concat([df1, df2])
    final_nan_df = new_combined_df[['comment_id', 'submission_id', 'author', 'body', 'score', 'year', 'month', 'subreddit', 'type']]
    return final_nan_df

In [58]:
##function to combine two dataframes with nans removed from gpt_output column
def combine_not_nan_csv(df1, df2):
    not_nan_combined_df = pd.concat([df1, df2])
    return not_nan_combined_df

In [74]:
##get nan and not nan dataframes for first csv
gpt_1_nan = split_csv("./data/reddit/gpt_output_new10000_14999.csv")
gpt_1_not_nan = split_csv_not_nan("./data/reddit/gpt_output_new10000_14999.csv")

In [76]:
##get nan and not nan dataframes for second csv
gpt_2_nan = split_csv("./data/reddit/gpt_output_new15000_19999.csv")
gpt_2_not_nan = split_csv_not_nan("./data/reddit/gpt_output_new15000_19999.csv")

In [88]:
##combine nan dataframes
combined_nan = combine_nan_csv(gpt_1_nan, gpt_2_nan)

In [80]:
##combine not nan dataframes
combined_not_nan = combine_not_nan_csv(gpt_1_not_nan, gpt_2_not_nan)

In [90]:
##show first few rows of nan df
combined_nan.head()

,comment_id,submission_id,author,body,score,year,month,subreddit,type
1962,h2b5soi,o374jc,chefr89,Ah yes because the situations described above ...,7,2021,6,2,1
1963,h2aivut,o374jc,brienneofbark,"I'm not from DC, but I grew up in Oakland and ...",57,2021,6,2,1
1964,h2aj870,o374jc,brienneofbark,"Dude obviously this is better than shooting, r...",42,2021,6,2,1
1965,h2aord3,o374jc,snow_squash7,I grew up in Istanbul with a population of 15 ...,33,2021,6,2,1
1966,h2ajdcs,o374jc,JHG0,So you are saying it is preferential that thes...,37,2021,6,2,1

In [92]:
##show first few rows of not nan df
combined_not_nan.head()

,comment_id,submission_id,author,body,score,year,month,subreddit,type,gpt_output
0,lpjze5m,1fsc447,msussmania,"Yes, we ride monthly. More details at hillfami...",6,2024,9,2,1,0
1,lpjjjig,1fsc447,CriticalStrawberry,"These are neighborhood rides hosted by ""Hill F...",8,2024,9,2,1,0
2,lpjz40q,1fsc447,msussmania,Depends on what you're looking for. Capital Bi...,6,2024,9,2,1,0
3,lpnvz9j,1fsc447,PolycultureBoy,I think we need more bike-ped only streets. So...,3,2024,9,2,1,0
4,lpqcxtp,1fsc447,Formergr,"I lived on this street a few years ago, it's s...",3,2024,9,2,1,"1, 10"

In [94]:
##nan dataframe to csv to be used to code in gpt model
combined_nan.to_csv("./data/reddit/gpt_to_code_new.csv")

In [96]:
##not nan df that has been coded and can be saved
combined_not_nan.to_csv("./data/reddit/gpt_output_coded/gpt_ratelimit_coded2.csv")

### Trial combining

In [16]:
gpt_1_nan = gpt_1[gpt_1['gpt_output'].isna()]
gpt_2_nan = gpt_2[gpt_2['gpt_output'].isna()]
gpt_3_nan = gpt_3[gpt_3['gpt_output'].isna()]
gpt_4_nan = gpt_4[gpt_4['gpt_output'].isna()]

In [38]:
gpt_1_not_nan = gpt_1[~pd.isna(gpt_1['gpt_output'])]
gpt_2_not_nan = gpt_2[~pd.isna(gpt_2['gpt_output'])]
gpt_3_not_nan = gpt_3[~pd.isna(gpt_3['gpt_output'])]
gpt_4_not_nan = gpt_4[~pd.isna(gpt_4['gpt_output'])]

In [40]:
gpt_3_not_nan.head()

,comment_id,submission_id,author,body,score,year,month,subreddit,type,gpt_output
14,iil29kl,wdxz8s,mettahipster,Unconfirmed but KM News is reporting 4-6 peopl...,96,2022,8,2,1,"1, 3"
68,iimnhxb,wdxz8s,2Sideburns2,lol cope,9,2022,8,2,1,0
120,iin405h,wdxz8s,NaN,Paris has a significantly higher overall crime...,14,2022,8,2,1,"1, 4"
167,iioy2g9,wdxz8s,NaN,"Ok but crime is happening now, this year, plen...",0,2022,8,2,1,0
220,ihig2ic,w73ol5,_cuppycakes_,Get a free library card at DCPL and neighborin...,29,2022,7,2,1,0

In [18]:
new_combined_df = pd.concat([gpt_1_nan, gpt_2_nan, gpt_3_nan, gpt_4_nan])

In [22]:
new_combined_df.shape

(13070, 10)

In [26]:
final_combined_df = new_combined_df[['comment_id', 'submission_id', 'author', 'body', 'score', 'year', 'month', 'subreddit', 'type']]

In [28]:
final_combined_df.head()

,comment_id,submission_id,author,body,score,year,month,subreddit,type
1814,lp3lu15,1fpo3o7,Billster25,https://mpdc.dc.gov/publication/application-co...,1,2024,9,2,1
1815,lp6tkhq,1fpo3o7,plausiblyridiculous,I’m sorry this happened to you. There definite...,1,2024,9,2,1
1816,lp7wlje,1fpo3o7,SimpleBeginning5202,I’m not sure if pepper spray is a good idea al...,1,2024,9,2,1
1817,lp8wdmd,1fpo3o7,Livbrielle26,Keep pepper spray somewhere easily accessible....,1,2024,9,2,1
1818,lp1k3p6,1fpo3o7,MargaritaBar,"Girl, I’ve lived in MVT for a month now and I ...",1,2024,9,2,1

In [32]:
final_combined_df.to_csv("./data/reddit/gpt_to_code.csv")

In [42]:
not_nan_combined = pd.concat([gpt_1_not_nan, gpt_2_not_nan, gpt_3_not_nan, gpt_4_not_nan])

In [44]:
not_nan_combined.shape

(2069, 10)

In [46]:
not_nan_combined.to_csv("./data/reddit/gpt_ratelimit_coded.csv")