### This code was used to remove comments that were only "Yes" or "No"

In [6]:
import pandas as pd
import numpy as np

In [18]:
comments_to_parse = pd.read_csv("./data/reddit/comments_ALL_12_6.csv")
comments_to_parse.head()

,Unnamed: 0,comment_id,submission_id,author,body,score,year,month,subreddit,type
0,0,isl1exn,y57cbw,eeek0711,Or Cleveland Park in DC,4,2022,10,0,1
1,1,isl1dig,y57cbw,eeek0711,Takoma Park MD,3,2022,10,0,1
2,2,islh5rt,y57cbw,nonmimeticform,Baltimore,3,2022,10,0,1
3,3,isuelis,y57cbw,dcgirlsmallworld,If you are looking for a quiet neighborhood wi...,3,2022,10,0,1
4,4,isl1grp,y57cbw,eeek0711,I lived in the DeLano Apartments in Woodley Pa...,2,2022,10,0,1

In [20]:
##loop through all values in the body column and remove any just yes or no
drop_indices = []
for i in range(len(comments_to_parse)):
    if comments_to_parse.loc[i, "body"] in ["Yes", "Yes.", "Yes!", "No", "No.", "?", "No!", "Yes?", "Yes!!", "Happy cake day!", "Happy cake day!!"]:
        drop_indices.append(i)

comments_to_parse = comments_to_parse.drop(drop_indices)

In [22]:
comments_to_parse.to_csv("./data/reddit/comments_parsed.csv")